.login-Page{
    display: flex;
    
}

.login-section{
    width: 45%;
    margin: 20px;
    height: 100%;
}

.support-section{
    width: 55%;
    
    height: 100vh;
    position: sticky;
    top: 0;
}

@media (max-width: 768px) {
    .login-Page{
        flex-direction: column;
    }
    .login-section{
        width:90vw;
    }
    .support-section{
        width: 100%;
        height: 100vh;
        position: static;
    }
}