.ForgetPassword-Page{
    display: flex;

}

.ForgetPassword-section{
    width: 45%;
    margin: 20px;
}

.support-section-ForgetPassword{
    width: 55%;
    height: 100vh;
    height: 100vh;
    position: sticky;
    top: 0;
}

@media (max-width: 768px) {
    .ForgetPassword-Page{
        flex-direction: column;
    }
    .ForgetPassword-section{
        width:90vw;
    }
    .support-section-ForgetPassword{
        width: 100%;
        height: 100vh; 
        position: static;
    }
}